<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{%static 'css/login.css' %}">
    <title>Document</title>
</head>

<body style="background-image: url('{% static 'images/img2.jpg' %}')">
    <div class="row container">
    {%for m in messages%}
    {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{m}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {%else%}
    <div class="alert success-warning alert-dismissible fade show" role="alert">
        <strong>{{m}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {%endif%}
    {%endfor%}
    <div class=" col-lg-4 col-md-3 col-sm-6"></div>
        <div class=" col-lg-4 col-md-3 col-sm-6 " id="d1">
            <h1 id="h" class="text-white">Sign In</h1>

            <form action="" method="post" enctype="multipart/form-data" id="f">
                {%csrf_token%}
                <input type="text" placeholder="username" name="username" class="form-control">
                <hr>
                <input type="text" placeholder="email" name="email" class="form-control">
                <hr>
                <input type="text" placeholder="new password" name="password1" class="form-control">
                <hr>
                <input type="text" placeholder="confirm password" name="password2" class="form-control">

                <div class="button">
                    <a href=""> <input type="submit" value="confirm" id="b1" class="btn btn-info"></a>
                </div>
                <hr>
                

</div>
</body>

</html>